---
pagination:
  data: collections.posts
  size: 1
  alias: post
  addAllPagesToCollections: true
layout: 'layouts/base.njk'
permalink: '/posts/{{ post.slug }}/'
---

{{ post.content.html | safe if post.content.html else "Post content not found" }}
