---
pagination:
  data: collections.combined
  size: 1
  alias: page
permalink: '{{  page.path }}/'
eleventyComputed:
  title: "{{ page.meta.title }}"
  description: "{{ page.meta.description }}"
  layout: "{{ page.Layout }}"
---

<img src="/agencykit_11ty_starter.png" alt="">
<h1>{{page.name}}</h1>
<hr>
{% if page.content.html %}
  {{ page.content.html | safe }}
{% endif %}

<small><u>Child pages</u></small>
<ul>
  {% for item in collections[page.collectionName] | reverse %}
    <li>
      <a href="{{ item.path }}">{{ item.name }}</a>
    </li>
  {% endfor %}
</ul>

<small><u>Menu</u></small>
<ul>
  {% for item in collections.nav %}
  <li>
    <a href="{{ item.path }}">{{ item.name }}</a>
  </li>
{% endfor %}
</ul>
<hr>
<pre><code>{{layout}}</code></pre>

<span>NotionCMS Page Object:</span>
<json-viewer data="{{page | removeEleventyProps | dump }}" style="padding: 1.5rem; border-radius: 1rem;"></json-viewer>

<footer style="text-align: center">
  <a href="https://www.agencykit.so/notion-cms/guide/">
    <img src="/built_with.png" alt="">
  </a>
</footer>

<script>
  const notionPage = {{page | dump | safe}};
  console.log('[notionCMS page]:', notionPage);
</script>
