---
pagination:
  data: collections.all
  size: 1
  alias: page
layout: 'layouts/base.njk'
permalink: '{{ page.path }}'
---

<div>Page</div>

{{ collections.all | dump }}
{{ page.content.html | safe if page.content.html else "page content not found" }}
