---
pagination:
  data: collections.pages
  size: 1
  alias: page
  addAllPagesToCollections: true
layout: 'layouts/base.njk'
permalink: '/{{ page.name }}/'
---

{{ page.content | safe if page.content else "Page content not found" }}
